@charset "UTF-8";
/*
telas pequenas: até 600px
celular: 600px até 768px
tablet: 768px até 992px
desktop: 992px até 1200px
telas grandes(tv): =>1200px
*/

@media print /*impressora*/ {
    body{
        background-image: url(../imagens/back-print.jpg);
    }
    main{
        border : solid 2px black;     
    }
     main > h1 {
        color: rgb(0, 0, 0);
        text-shadow: none;
        font-family: 'Courier New', Courier, monospace;
    }
    main::after{
        content: 'media print feita com media query';
    }

    img#phone{display:none;}
    img#print{display: block;}
    img#pc{display: none;}
    img#tv{display: none;}
    img#tablet{display: none;}
}

@media screen and (min-width: 762px) and (max-width:992px)/*TABLET*/{
    body{
    background-image: url(../imagens/back-tablet.jpg);
}   
    h1::after{
        content: 'Device breakpoint';
}

    img#phone{display:none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: none;}
    img#tablet{display: block;}
}

@media screen and (min-width:992px) and (max-width:1200px) /*DESKTOP*/{
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    main{
        width: 600px;
    }
    h1::after{
        content: 'Device breakpoint';
    }

    img#phone{display: none;}
    img#print{display: none;}
    img#pc{display: block;}  
    img#tv{display: none;}
    img#tablet{display: none;}

}

@media screen and (min-width:1200px) /*Telas grandes(tv)*/ {
    body{
        background-image: url(../imagens/back-tv.jpg);
    }
    h1::after{
        content: 'Device breakpoint';
    }
    main{
        width: 900px;
    }
    img#phone{display:none;}
    img#print{display: none;}
    img#pc{display: none;}
    img#tv{display: block;}
    img#tablet{display: none;}
}